.main{
  border: solid 1px;
  background: #dfd7d7;
  width: 40%;
}

.descricaoCabecalho{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.001em;
text-align: left;

}

.input{
border-radius: 10px;
}